@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
:root {
  --primaryDark: #191919;
  --secondaryDark: #272626;
  --hover: #474747;
  --parkinsans: "Parkinsans", sans-serif;
}
