@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
:root {
  --primaryDark: #191919;
  --secondaryDark: #272626;
  --hover: #474747;
  --parkinsans: "Parkinsans", sans-serif;
  --smoothWhite: #c5c5c5;
  --gradientBg: linear-gradient(85deg, #ce78f2 0%, #5125e0 25%, #b6218c 77%);
}

@layer utilities {
  .border-image-gradient {
    border-style: solid;
    border-width: 2px;
    border-image: repeating-linear-gradient(
      to right,
      var(--smoothWhite) 0,
      var(--smoothWhite) 6px,
      transparent 8px,
      transparent 16px
    );
    border-image-slice: 1;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
